* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

main {
	min-height: 100vh;
	background: linear-gradient(to right top, #65dfc9, #6cdbeb);
	display: flex;
	align-items: center;
	justify-content: center;
}

.glass {
	background: white;
	min-height: 90vh;
	width: 90%;
	display: flex;
	background: linear-gradient(
		to right bottom,
		rgb(255, 255, 255, 0.7),
		rgb(255, 255, 255, 0.3)
	);
	border-radius: 2rem;
	z-index: 2;
	backdrop-filter: blur(2rem);
}

.circle1,
.circle2 {
	background: white;
	background: linear-gradient(
		to right bottom,
		rgb(255, 255, 255, 0.8),
		rgb(255, 255, 255, 0.3)
	);
	height: 18rem;
	width: 18rem;
	position: absolute;
	border-radius: 50%;
}

.circle1 {
	top: 1.5%;
	right: 1.5%;
}

.circle2 {
	bottom: 0.5%;
	left: 1.5%;
}

.sidebar {
	flex: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.dashboard {
	flex: 70%;
}

.card-group {
	display: flex;
}

.card {
	margin: 1rem;
	width: 33.3%;
	height: 5rem;
	background: white;
}
